#timer {
    font-size: 50px;
    text-align: center;
}
#question {
    font-size: 40px;
    text-align: center;
    color: red;
}
#option-list {
    font-size: 28px;
    text-align: center;
}

#question-result {
    font-size: 20px;
    text-align: center;
}